asgiref==3.5.0
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.4
Django==4.0.4
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
PyMySQL==1.0.2
pyobjc==8.5
whitenoise==6.0.0

