{% extends 'home/base.html' %}

{% block title %}
Product View
{% endblock title %}


{% block body %}

{% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/second.css'%}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">

<br>
<!-- FOOD SLIDER -->



<h1 class="stylish-heading my2 text-center text-white">  New In The Food...  </h1>
<br>



<div class="container" xmlns:data="http://www.w3.org/1999/xhtml">

   <form method="POST" action="{% url 'food' %}">
      {% csrf_token %}
      <select name="my_cat" id="my_cat" class="form-select" aria-label="Default select example">
         <option selected>Open this select menu</option>
         <option value="Dessert">Dessert</option>
         <option value="Drinks">Drinks</option>
       </select>
      <button type="submit" class="btn btn-primary">SUBMIT</button>

   </form>



   {% for product, range, nSlides in allProds %}
   <h4 class= "stylish-heading my2 text-center text-white ">{{product.0.category}}</h4>
   <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
   
      <ul class="carousel-indicators">
         <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
         {% for i in range %}
         <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
         {% endfor %}
      </ul>

      <div class="carousel-inner">
         <div class="carousel-item active">
            <div  class="col-xs-3 col-sm-3 col-md-3">
               <div  class="card" style="width: 18rem;">
                  <img style="width: 100%; height: 200px; object-fit: contain;" src='/media/{{product.0.image}}' class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">{{product.0.product_name}}</h5>
                     <p class="card-text">{{product.0.desc}}
                     </p>
                     <button type="button" class="fa fa-shopping-cart btn btn2 btn-outline-secondary">Add To Cart</button>
                  </div>
               </div>
            </div>

            {% for list in product|slice:"1:" %}
            <div  class="col-xs-3 col-sm-3 col-md-3">
               <div class="card" style="width: 18rem;">
                  <img style="width: 100%; height: 200px; object-fit: contain;" src='/media/{{list.image}}' class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">{{list.product_name}}</h5>
                     <p class="card-text">{{list.desc}}
                     </p>
                     <button type="button" class="fa fa-shopping-cart btn btn2 btn-outline-secondary">Add To Cart</button>
                  </div>
               </div>
            </div>


            {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
         </div><div class="carousel-item">
            {% endif %}

            {% endfor %}
         </div>
      </div>
   </div>
   
   <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
{% endfor %}



 <!--MAIN FOOD-->
<div class="container my-3">
   <br>
   <h1 class="stylish-heading my2 text-center text-white">  Food That Makes You Visit Again!  </h1>
    <br>
    <div class="row">

      
      {% for f in food %}
      <div class=" col-sm-5 col-lg-4 ">
         <img src="/media/{{ f.image }}"  class="thumbnail d-block w-100" alt="{{ f.category }}">
         <div class="box-element product">
            <h6><strong>{{ f.product_name }}</strong></h6>
            <p class="card-text"> {{ f.desc }} </p>
            <hr>
            <div class="btn-group">
               <button type="button" class="fa fa-shopping-cart btn btn2 btn-outline-secondary">Add To Cart</button>
            </div>
            <h4 style="display: inline-block; float:right; "><strong>{{ f.price }} Rs</strong></h4>
         </div>
      </div>
      {% endfor %}
 

<hr>


{% endblock body %}


