{% extends 'home/base.html' %}

{% block title %}
Product View
{% endblock title %}


{% block body %}

{% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/second.css'%}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">

<br>


 <!--MAIN FOOD-->
<div class="container my-3">
   <br>
   <div class="testimonial-heading stylish-heading ">
      <h1>Food That Makes You Visit Again! </h1>
  </div>
    <br>
    <div class="row">
      
      {% for f in food %}
      <div class=" col-sm-5 col-lg-4 ">
         <img src="/media/{{ f.image }}"  class="thumbnail d-block w-100" alt="{{ f.category }}">
         <div class="box-element product">
            <h6><strong>{{ f.product_name }}</strong></h6>
            <p class="card-text"> {{ f.desc }} </p>
            <hr>
            <div class="btn-group">
               <button id="pr{{f.id}}"  type="button" class=" cart fa fa-shopping-cart btn btn2 btn-outline-secondary">Add To Cart</button>
            </div>
            <h4 style="display: inline-block;  "><strong>{{ f.price }} Rs</strong></h4>
         </div>
      </div>
      {% endfor %}

<hr>


{% endblock body %}

{% block js %}
<script>
   console.log('working');
   if(localStorage.getItem('cart') == null){
      var cart = {};
   }
   else 
   {
      cart = JSON.parse(localStorage.getItem('cart'));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
   }
   $('.cart').click(function(){
      console.log('clicked');
      var idstr = this.id.toString();
      console.log(idstr);
      if (cart[idstr] != undefined){
         cart[idstr] = cart[idstr] + 1;
      }
      else{
         cart[idstr] = 1;
      }

      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
   });
</script>


{% endblock %}



